@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white font-outfit scroll-smooth;
  }

  body {
    background: #000;
    background-size: 14px 24px;
    background-image: linear-gradient(
        to right,
        #4f4f4f2e 1.5px,
        transparent 1.5px
      ),
      linear-gradient(to bottom, #4f4f4f2e 1.5px, transparent 1.5px);
    /* #8080800a */
  }

  section {
    @apply max-w-4xl mx-auto px-10 py-20 relative z-10;
  }
}

@layer components {
  .link-navbar {
    @apply transition-all text-gray-400 hover:text-wht hover:font-semibold;
  }

  .text-nav {
    @apply text-sm;
  }

  .px-container {
    @apply transition-all px-5 md:px-20;
  }

  .a-sosmed {
    @apply flex items-center gap-5 font-medium text-base sm:text-lg;
  }

  .card {
    @apply border md:col-span-2 border-wht p-5 rounded-lg bg-wht/15 backdrop-blur-md h-fit w-full;
  }

  .li-icon {
    @apply w-10 h-10 transition-all hover:scale-110;
  }

  .input-contact {
    @apply py-4 rounded-full px-8 outline-none placeholder:text-wht/70 text-wht bg-neutral-700 backdrop-blur-3xl;
  }

  .textarea-contact {
    @apply py-4 rounded-3xl px-8 outline-none placeholder:text-wht/70 text-wht bg-neutral-700 backdrop-blur-3xl;
  }
}
