@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-white font-outfit;
  }

  body {
    background: #000;
    background-size: 14px 24px;
    background-image: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
      linear-gradient(to bottom, #8080800a 1px, transparent 1px);
  }
}

@layer components {
  section {
    @apply w-full mx-auto min-h-screen px-container py-10 relative z-10;
  }

  .link-navbar {
    @apply transition-all text-gray-400 hover:text-wht hover:font-semibold;
  }

  .text-nav {
    @apply text-sm;
  }

  .px-container {
    @apply transition-all px-5 md:px-20;
  }
}
